*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 120px;
}

nav .nav-links{
    display: flex;
    align-items: center;
    gap: 50px;
}

nav li{
    list-style: none;
    font-size: 18px;
    font-weight: 600;

}

nav a{
    text-decoration: none;
    color: black;

}

nav a:hover{
    background-color: #30B868;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #30B868;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

#banner{
    width: 100%;
    height: 600px;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#banner .banner-container{
    width: 80%;
    max-width: 1240px;;
    margin:0 auto;
    padding-top: 100px;
    text-align: center;
}

#banner .banner-container .banner-content{
    padding-bottom: 20px;
}

#banner .banner-content .ban-btn{
    padding: 10px 15px;
    border: none;
    font-size: 18px;
    color: #30B868;
    font-weight: 600;
    border-radius: 20px;
    margin-bottom: 10px;
}

#banner .banner-content h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

#banner .banner-content p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 28px;
    background-color: rgba(0, 0, 0, 0.27);
    color: #e7ceceed;
}

#banner .bbtn{
    display: flex;
    gap: 20px;
    justify-content: center;
    cursor: pointer;
}

#banner .bbtn .btn1{
    color: white;
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
}

#problem{
    width: 100%;
    height: 600px;
    background-color: #f5f5f5;
}

#problem .problem-content{
    width: 80%;
    max-width: 1240px;;
    margin:0 auto;
    padding-top: 100px;
    text-align: center;
}

#problem .problem-content h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

#problem .problem-content .problem-card{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 50px;
}

#problem .problem-card .problem-info{
    width: 300px;
    height: 250px;
    border-radius: 10px;
    text-align: center;
}

#problem .problem-info img{
    margin-top: 20px;
    background-color: tomato;
    padding: 20px;
    border: none;
    border-radius: 100%;
}

#problem .problem-info h2{
    margin-top: 20px;
}

#problem .problem-info {
    box-shadow: #b46565 0px 5px 15px;
}

#problem .problem-info:hover {
    box-shadow: #d84848 0px 10px 25px;
    background-color: brown;
}